In [1]:
import pandas as pd

#### Procesamiento Azul

In [3]:
chequeado_azu = pd.read_csv("./labeled/chequeado_azu.csv")
chequeado_azu.shape

(723, 3)

In [7]:
chequeado_azu.head()

,Clasificación,Original,Modificado
0,Verdadero,"Sileoni: “Del 2003 al 2012, 665% aumentó el sa...","Del 2003 al 2012, 665% aumentó el salario doce..."
1,Verdadero,VERDADEROEl Ministro cuestionó el paro docente...,ELIMINAR
2,Verdadero,CFK: “En la Argentina hay una diferencia abism...,En la Argentina hay una diferencia abismal ent...
3,Falso,Berni: “Junín tiene índices de criminalidad co...,Junín tiene índices de criminalidad comparable...
4,Falso,Alperovich: “En nueve años de gobierno creamos...,ELIMINAR

In [9]:
procesado_azu = chequeado_azu.loc[chequeado_azu['Modificado'] != 'ELIMINAR']
procesado_azu.shape

(234, 3)

In [11]:
procesado_azu.head()

,Clasificación,Original,Modificado
0,Verdadero,"Sileoni: “Del 2003 al 2012, 665% aumentó el sa...","Del 2003 al 2012, 665% aumentó el salario doce..."
2,Verdadero,CFK: “En la Argentina hay una diferencia abism...,En la Argentina hay una diferencia abismal ent...
3,Falso,Berni: “Junín tiene índices de criminalidad co...,Junín tiene índices de criminalidad comparable...
6,Verdadero,Randazzo: “Con el primer aumento [del subte] h...,Con el primer aumento [del subte] hubo un desp...
7,Falso,Macri: “Cada día más personas recurren a nuest...,Cada día más personas recurren a nuestro siste...

In [16]:
procesado_azu = procesado_azu.rename(columns={"Modificado": "texto", "Clasificación":"clasificacion"})

In [18]:
procesado_azu = procesado_azu[["clasificacion", "texto"]]
procesado_azu.head()

  clasificacion                                              texto
0     Verdadero  Del 2003 al 2012, 665% aumentó el salario doce...
2     Verdadero  En la Argentina hay una diferencia abismal ent...
3         Falso  Junín tiene índices de criminalidad comparable...
6     Verdadero  Con el primer aumento [del subte] hubo un desp...
7         Falso  Cada día más personas recurren a nuestro siste...

In [19]:
procesado_azu.value_counts("clasificacion")

clasificacion
Falso        141
Verdadero     93
Name: count, dtype: int64

#### Procesamiento Lu

In [23]:
chequeado_lu = pd.read_csv("./labeled/chequeado_lu.csv")
chequeado_lu.shape

(179, 2)

In [24]:
chequeado_lu.head()

  clasificacion                                              texto
0         Falso  Los montos reales de inversión durante la gest...
1     Verdadero  El jefe de Gobierno porteño en 2015 vetó más l...
2         Falso  CFK: “Cuando Néstor [Kirchner] llegó al Gobier...
3     Verdadero  Massa: “De cada $100 que los misioneros pagan ...
4     Verdadero  El precandidato a presidente del Frente Renova...

In [25]:
chequeado_lu.value_counts("clasificacion")

clasificacion
Verdadero    123
Falso         56
Name: count, dtype: int64

#### Procesamiento Robert

In [26]:
chequeado_robert = pd.read_csv("./labeled/chequeado_robert.csv")
chequeado_robert.shape

(1123, 4)

In [27]:
chequeado_robert.head()

,clasificacion,Unnamed: 1,texto,Unnamed: 3
0,Falso,Helicópteros de la F,Helicópteros de la Fuerza Aérea Argentina van ...,NaN
1,Falso,Los ancianos viven d,Los ancianos viven demasiado y eso es un riesg...,NaN
2,Falso,Nostradamus predijo,Nostradamus predijo el coronavirus,NaN
3,Falso,Ginés González Garcí,Ginés González García estuvo involucrado en la...,NaN
4,Falso,Casi la mitad de las,Casi la mitad de las personas que reciben “pla...,NaN

In [30]:
chequeado_robert = chequeado_robert[["clasificacion", "texto"]]

In [38]:
chequeado_robert.head()

  clasificacion                                              texto
0         Falso  Helicópteros de la Fuerza Aérea Argentina van ...
1         Falso  Los ancianos viven demasiado y eso es un riesg...
2         Falso                 Nostradamus predijo el coronavirus
3         Falso  Ginés González García estuvo involucrado en la...
4         Falso  Casi la mitad de las personas que reciben “pla...

In [31]:
chequeado_robert.value_counts("clasificacion")

clasificacion
Falso        760
Verdadero    363
Name: count, dtype: int64

#### Procesamiento Dante

In [35]:
chequeado_dante = pd.read_csv("./labeled/chequeado_dante.csv")
chequeado_dante.shape

(1091, 2)

In [36]:
chequeado_dante.head()

  clasificacion                                              texto
0     Verdadero  No se divulgaron resultados oficiales previos ...
1         Falso  Se difundieron en redes sociales supuestos pri...
2     Verdadero  En el balotaje 2023, las boletas con el número...
3         Falso  En el balotaje 2023, las boletas con el número...
4         Falso  Miles de usuarios denuncian que, durante la jo...

In [37]:
chequeado_dante.value_counts("clasificacion")

clasificacion
Falso        813
Verdadero    278
Name: count, dtype: int64

#### Union de datasets

In [42]:
chequeado = pd.concat([chequeado_dante, chequeado_robert, chequeado_lu, procesado_azu])
chequeado.shape

(2627, 2)

In [43]:
chequeado.head()

  clasificacion                                              texto
0     Verdadero  No se divulgaron resultados oficiales previos ...
1         Falso  Se difundieron en redes sociales supuestos pri...
2     Verdadero  En el balotaje 2023, las boletas con el número...
3         Falso  En el balotaje 2023, las boletas con el número...
4         Falso  Miles de usuarios denuncian que, durante la jo...

In [44]:
chequeado.value_counts("clasificacion")

clasificacion
Falso        1770
Verdadero     857
Name: count, dtype: int64

In [45]:
chequeado.to_csv("chaqueado_procesado.csv", index=False)